<mat-card class="assignment-card" [class.mat-elevation-z8]="isHovered" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  <mat-card-header>
    <mat-card-title>{{assignment.name}}</mat-card-title>
    <mat-card-subtitle matTooltip="You've missed the deadline." [matTooltipDisabled]="!isPassedDeadline">
      <span *ngIf="submissionsStarted" [class.text-danger]="isPassedDeadline" [class.text-warning]="isCloseToDeadline"
        [class.text-success]="!isCloseToDeadline">Deadline: {{getDateString(assignment.endDate)}}</span>
      <span *ngIf="!submissionsStarted">Submissions start on {{getDateString(assignment.startDate)}}</span>
      <mat-icon class="tooltip-arrow" inline="true" *ngIf="isPassedDeadline">arrow_right</mat-icon>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
  <mat-card-actions>
    <a mat-button color="accent" [routerLink]="[assignment.slug]">View</a>
  </mat-card-actions>
</mat-card>