<mat-card class="assignment-card" [class.mat-elevation-z8]="isHovered" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  <mat-card-header>
    <mat-card-title>{{assignment.name}}</mat-card-title>
    <mat-card-subtitle>
      <span [class.text-danger]="isPassedDeadline(assignment)" [class.text-warning]="isCloseToDeadline(assignment)"
        [class.text-success]="!isCloseToDeadline(assignment)" matTooltip="You've missed the deadline."
        [matTooltipDisabled]="!isPassedDeadline(assignment)">Deadline: {{assignment.endDate.toLocaleDateString()}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
  <mat-card-actions>
    <a mat-button color="accent" [routerLink]="[assignment.slug]">View</a>
  </mat-card-actions>
</mat-card>