@page
@model PortalTeme.Auth.Pages.Setup.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Authentication service setup wizard</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">


            <h4>Create the administrator user.</h4>
            <div class="form-group">
                <label asp-for="Input.AdminEmail"></label>
                <input asp-for="Input.AdminEmail" class="form-control" />
                <span asp-validation-for="Input.AdminEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" type="password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

