<!-- <div class="register-form">
  <mat-card class="register-card">
    <mat-card-title>Register</mat-card-title>

    <mat-card-content>

      <form [formGroup]="registerForm" (ngSubmit)="register()">

        <mat-form-field class="full-width">
          <input matInput formControlName="email" placeholder="Email" required />
          <mat-error *ngIf="email.hasError('email')">Value must be a valid email address.</mat-error>
        </mat-form-field>

        <div formGroupName="passwordGroup">
          <mat-form-field class="full-width">
            <input matInput type="password" formControlName="password" placeholder="Password" required />
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"
              required />
            <mat-error *ngIf="confirmPassword.hasError('compareWith')">Passwords do not match.</mat-error>
          </mat-form-field>
        </div>


        <button mat-raised-button color="accent" [disabled]="registerForm.invalid">Register</button>

        <mat-list>
          <mat-list-item class="error-item" *ngFor="let error of serverErrors | keys">
            <div matLine class="key">{{error.key}}:</div>
            <div matLine class="value" *ngFor="let valLine of error.value">
              <mat-icon>chevron_right</mat-icon>
              <span>{{valLine}}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->