<div class="mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of columnDefs.columns; first as isFirst" [matColumnDef]="column.id">
 
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.title}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="!isInEditMode(element)"><span class="cell-label">{{column.title}}: </span>{{column.itemAccessor.getPropertyText(element, column)}}</span>
        <span *ngIf="isInEditMode(element)">

          <!-- ColumnType switch -->
          <ng-container [ngSwitch]="getEditableColumn(column).type">
            <ng-container *ngSwitchCase="ColumnType.Textbox">
              <mat-form-field>
                <input matInput type="text" [formControl]="getFormControl(element, column.id)" required />

                <mat-error *ngIf="hasError(element, column.id)">
                  {{getError(element, column.id)}}
                </mat-error>
              </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="ColumnType.Select">
              <mat-form-field>
                <mat-select [formControl]="getFormControl(element, column.id)" required>
                  <mat-option *ngFor="let option of getDatasource(column).getItems() | async" [value]="getDatasource(column).getValue(option)">
                    {{getDatasource(column).getTitle(option)}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="hasError(element, column.id)">
                  {{getError(element, column.id)}}
                </mat-error>
              </mat-form-field>
            </ng-container>
          </ng-container>
          <!-- End ColumnType switch -->

        </span>
      </mat-cell>

      <ng-container *ngIf="isFirst">
        <mat-footer-cell *matFooterCellDef class="center-footer">
          <div>{{emptyDataMessage || 'No data'}}</div>
        </mat-footer-cell>
      </ng-container>

    </ng-container>

    <ng-container matColumnDef="actions" *ngIf="hasActions">
      <mat-header-cell *matHeaderCellDef class="action-label">Actions</mat-header-cell>
      <mat-cell *matCellDef="let element" class="button-cell">
        <ng-container *ngIf="canAdd">
          <button mat-raised-button color="accent" *ngIf="modelAccessor.isNew(element)" (click)="saveElement(element)">
            <mat-icon>save</mat-icon>
            <span class="icon-button-text">Save</span>
          </button>
          <button mat-raised-button color="basic" *ngIf="modelAccessor.isNew(element)" (click)="remove(element)">
            <mat-icon>cancel</mat-icon>
            <span class="icon-button-text">Cancel</span>
          </button>
        </ng-container>

        <ng-container *ngIf="canEdit">
          <button mat-raised-button color="accent" *ngIf="!modelAccessor.isNew(element) && !isInEditMode(element)"
            (click)="edit(element)">
            <mat-icon>edit</mat-icon>
            <span class="icon-button-text">Edit</span>
          </button>
          <button mat-raised-button color="accent" *ngIf="!modelAccessor.isNew(element) && isInEditMode(element)"
            (click)="saveElement(element)">
            <mat-icon>update</mat-icon>
            <span class="icon-button-text">Update</span>
          </button>
          <button mat-raised-button color="basic" *ngIf="!modelAccessor.isNew(element) && isInEditMode(element)"
            (click)="cancelEdit(element)">
            <mat-icon>cancel</mat-icon>
            <span class="icon-button-text">Cancel</span>
          </button>
        </ng-container>
        <ng-container *ngIf="customEdit">
          <button mat-raised-button color="accent" *ngIf="!modelAccessor.isNew(element) && !isInEditMode(element)"
            (click)="customEditAction(element)">
            <mat-icon>edit</mat-icon>
            <span class="icon-button-text">Edit</span>
          </button>
        </ng-container>
        <ng-container *ngIf="canDelete && !isInEditMode(element)">
          <button mat-raised-button color="warn" *ngIf="canDelete && !isInEditMode(element)" (click)="deleteElement(element)">
            <mat-icon>delete</mat-icon>
            <span class="icon-button-text">Delete</span>
          </button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <mat-footer-row *matFooterRowDef="[ displayedColumns[0] ]" [ngClass]="{ 'hide': hasData }"></mat-footer-row>
  </mat-table>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>

<button mat-raised-button color="primary" class="grid-add-button" (click)="add()" *ngIf="canAdd">
  <mat-icon>add_to_photos</mat-icon>
  <span class="icon-button-text">Add</span>
</button>

<mat-list *ngIf="hasAnyError()">
  <mat-list-item class="text-danger" *ngFor="let error of errors | keys">
    <div matLine *ngIf="error.key">{{error.key}}:</div>
    <div matLine *ngFor="let valLine of error.value">
      <div class="value">
        <mat-icon>warning</mat-icon>
        <span class="icon-button-text">{{valLine}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>