.site-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    flex: 1;
}

.app-name {
    margin-left: 8px;
}

.app-toolbar {
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.is-mobile {
    .app-toolbar {
        position: fixed;
    }
    .sidenav-container {
        flex: 1 0 auto;
    }
}

.sidenav {
    min-width: 200px;
    mat-nav-list {
        .accordion-button {
            color: #fff;
            height: 40px;
            padding: 10px 15px;
            line-height: 16px;
            margin: 0;
            font-size: 16px;
            cursor: pointer;
            position: relative;
            display: block;
            width: 100%;
            text-align: left;
            background: none;
            border: none;
            &:focus {
                outline: none;
                background: rgba(255, 255, 255, 0.04);
            }
            .mat-icon {
                position: absolute;
                right: 5px;
                font-size: 18px;
                text-align: center;
                padding-top: 2px;
                margin-top: -4px;
            }
        }
        hr {
            padding: 0;
            margin: 0;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        li {
            font-size: 13px;
            line-height: 16px;
            margin: 0;
            padding-left: 20px;
        }
        a {
            display: block;
            text-decoration: none;
        }
    }
    a.admin-button {
        border-right: 2px solid #fff;
        transition: border-width .1s ease-in;
        &:hover {
            border-right: 4px solid #fff;
        }
    }
    .active[mat-list-item] {
        background-color: rgba(0, 0, 0, .08);
    }
}

.sidenav-content {
    display: flex;
}

.site-content {
    padding-bottom: 30px;
    flex: 1;
    max-width: 100%;
}