<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <span *ngIf="isHandset$ | async">Portal Teme</span>
      <span *ngIf="!(isHandset$ | async)">Meniu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
        (click)="toggleSidenav()">Home</a>

      <ng-container *ngIf="(isAuthenticated$ | async)">
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/my-courses']" [routerLinkActive]="['active']" (click)="toggleSidenav()">My Courses</a>
      </ng-container>

      <ng-container *ngIf="isAdmin$ | async">
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/admin']" [routerLinkActive]="['active']" (click)="toggleSidenav()">Admin</a>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
    <mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Portal Teme</h1>
      <span class="filler"></span>
      <span class="auth-controls">

      </span>

      <mat-menu #userProfile="matMenu">

        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <button mat-menu-item [routerLink]="['/login']" [queryParams]="{ returnUrl: returnUrl }">Login</button>
          <!-- <button mat-menu-item [routerLink]="['/register']" [queryParams]="{ returnUrl: returnUrl }">Register</button> -->
        </ng-container>
        <ng-container *ngIf="isAuthenticated$ | async">
          <button mat-menu-item *ngIf="isHandset$ | async" disabled>{{userDisplayName$ | async}}</button>
          <a mat-menu-item (click)="logout()">Logout</a>
        </ng-container>
        <!--<button mat-menu-item>Help</button>-->
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="userProfile" [matTooltip]="userDisplayName$ | async"
        matTooltipPosition="left" [matTooltipDisabled]="isHandset$ | async">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="site-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>