
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @AdminNavPages.UserRolesNavClass(ViewContext)" id="user-roles" asp-page="/Admin/UserRoles/Index">User Roles</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavPages.UsersNavClass(ViewContext)" id="user-roles" asp-page="/Admin/Users/Index">Users</a></li>
</ul>
