@page
@model PortalTeme.Auth.Areas.Identity.Pages.Admin.AssignRoleModel
@{
    ViewData["Title"] = "Assign Role";
    ViewData["ActivePage"] = AdminNavPages.AssignRole;
}

<h5>Assign Role to User</h5>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Input.UserId"></label>
        <select asp-for="Input.UserId" class="form-control">
            @foreach (var user in Model.Users) {
                <option value="@user.Id">@user.Email</option>
            }
        </select>
        <span asp-validation-for="Input.UserId" class="text-danger"></span>
    </div>
    <a class="btn btn-outline-secondary" asp-page="ViewUsersInRole" asp-route-roleId="@Model.RoleId">Cancel</a>
    <button type="submit" class="btn btn-primary" asp-route-roleId="@Model.RoleId">Assign</button>
</form>