<mat-card class="assignment-card">
    <mat-card-header>
      <mat-card-title>Assignment Details</mat-card-title>
      <mat-card-subtitle>Manage Assignment Details Below</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="assignmentForm" (submit)="create()">
            <p>
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Assignment Name" [formControl]="name" />
                </mat-form-field>
            </p>
        
            <p>
                <mat-form-field class="half-width">
                    <input matInput [matDatepicker]="startDatepicker" placeholder="Start Date" [formControl]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatepicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput [matDatepicker]="endDatepicker" placeholder="End Date" [formControl]="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatepicker></mat-datepicker>
                </mat-form-field>
            </p>
                <div>
                    <label>Assignment details:</label>
                    <ckeditor [editor]="CKEditor" [config]="config" [formControl]="description"></ckeditor>
                </div>
        
            <button mat-raised-button type="submit" color="accent" class="mt-2">
                <span *ngIf="!(isEditMode | async)">Create</span>
                <span *ngIf="isEditMode | async">Update</span>
            </button>
        </form>
    </mat-card-content>
  </mat-card>