<div class="center-content" *ngIf="!(assignment | async)">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="assignment | async">

  <mat-toolbar>
    <button mat-icon-button [routerLink]="['../../../']">
      <mat-icon aria-label="back" color="accent">arrow_back_ios</mat-icon>
    </button>
    <span>
      <mat-icon class="mr-1">edit</mat-icon>
      <b class="text-primary">{{(assignment | async)?.name}}</b>
    </span>
  </mat-toolbar>

  <app-tabbed-menu [menuItems]="menuItems"></app-tabbed-menu>
  <app-assignment-tasks-edit [tasks]="tasks" [courseStudents]="courseStudents" [assignmentId]="(assignment | async).id"
    [isCustomAssigned]="isCustomAssigned | async" [create]="create()" [update]="update()" [delete]="delete()"
    #tasksComp></app-assignment-tasks-edit>

</ng-container>