mat-form-field.full-width {
    width: 100%;
}

.value {
    display: flex;
    align-items: center;
}

mat-icon.mat-icon.material-icons {
    vertical-align: sub
}

.icon-title-text {
    margin-left: 10px;
}