<div class="center-content">
    <mat-spinner *ngIf="!course"></mat-spinner>
</div>

<ng-container *ngIf="course">

    <mat-toolbar class="special-need-toolbar">
        <button mat-icon-button [routerLink]="['../']">
            <mat-icon aria-label="back" color="accent">arrow_back_ios</mat-icon>
        </button>
        Manage course: {{course?.courseDef?.name}}
        <span class="filler"></span>
        <button mat-button color="accent" [routerLink]="['new-assignment']" *ngIf="isAssignmentsTab">
            <mat-icon class="mr-1">add_box</mat-icon>
            <span>New assignment</span>
        </button>
    </mat-toolbar>
    <mat-tab-group #assignTabs [backgroundColor]="['primary']" animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-1">assignment</mat-icon>
                <span>Assignments</span>
            </ng-template>
            <app-assignments-manage-view [courseId]="course.id" #assignments></app-assignments-manage-view>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-1">record_voice_over</mat-icon>
                <span>Assistants</span>
            </ng-template>
            <app-course-edit-assistants [courseId]="course.id" #assistants></app-course-edit-assistants>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-1">people</mat-icon>
                <span>Attendees</span>
            </ng-template>
            <app-course-edit-attendees [courseId]="course.id" #attendees></app-course-edit-attendees>
        </mat-tab>
    </mat-tab-group>

</ng-container>