<mat-toolbar>
    <button mat-icon-button color="warn" (click)="backClicked()">
        <mat-icon aria-label="back" color="accent">arrow_back_ios</mat-icon>
    </button>
    Manage course: {{course?.courseDef?.name}}
    <button mat-button color="accent" [routerLink]="['new-assignment']"><mat-icon>add_box</mat-icon>New assignment</button>
</mat-toolbar>

<mat-tab-group [backgroundColor]="['primary']">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">record_voice_over</mat-icon>
                Assistants
            </ng-template>
            <app-course-edit-assistants></app-course-edit-assistants>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">people</mat-icon>
                Atendees
            </ng-template>
            <h1>Some tab content</h1>
            <p>...</p>
        </mat-tab>
      </mat-tab-group>

{{course | json}}