.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[mat-button] mat-icon {
    font-size: 22px;
}

.filler {
    flex: 1 1 auto;
}

.special-need-toolbar {
    white-space: pre-line;
    flex-wrap: wrap;
    height: auto;
    min-height: 56px;
}