.tab-text {
    margin-left: 5px;
}

.icon-title-text {
    margin-left: 10px;
}

a[mat-tab-link] {
    text-decoration: none;
}

.noselect {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}