<div class="center-content" *ngIf="!assignment">
    <mat-spinner></mat-spinner>
</div>


<ng-container *ngIf="assignment">

  <mat-card class="title-card">
    <mat-card-header>
      <mat-card-title>
        <a mat-icon-button [routerLink]="['../']">
          <mat-icon aria-label="back" color="accent">arrow_back_ios</mat-icon>
        </a>
        <span class="text-primary fill-space">{{assignment.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>
          <span *ngIf="!submissionsStarted">Submissions will start on {{assignment.startDate.toLocaleDateString()}}</span>
        <span *ngIf="submissionsStarted && !submissionsEnded">Submissions period: {{assignment.startDate.toLocaleDateString()}} -
          {{assignment.endDate.toLocaleDateString()}}</span>
          <span *ngIf="submissionsEnded">Submissions deadline was {{assignment.endDate.toLocaleDateString()}}</span>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="assignment-content">

    <div class="assignment-description" [innerHTML]="assignment.description | safeHtml"></div>

    <ng-container *ngIf="showTasksList"></ng-container>

    <ng-container *ngIf="showUserSubmissions"></ng-container>

  </div>

</ng-container>