.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignment-container {
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    place-content: stretch center;
    align-items: center;
    padding-bottom: 30px;
    .assignment-content {
        max-width: 900px;
        width: 100%;
    }
}

.title-card {
    mat-card-title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.mat-h3 {
    color: rgba(255, 255, 255, .7);
}