.course-title{
    color:#7b28a1;
}

mat-toolbar mat-icon.mat-icon.material-icons{
    vertical-align: sub;
}

.assignments-card {
    margin:10px 10px 0 10px;
  }

.special-need-toolbar{
    white-space: pre-line;
    flex-wrap: wrap;
}
