.course-details {
    mat-card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    overflow-y: hidden;
}

.center-text-icon {
    align-items: center;
    display: inline-flex;
    height: 32px;
}

.assistants-list mat-list-item {
    height: 40px;
}

.assignments-card {
    margin: 10px 10px 0 10px;
    width: 300px;
}

.assignments-card:hover {
    filter: brightness(90%)
}

.special-need-toolbar {
    white-space: pre-line;
    flex-wrap: wrap;
    height: auto;
    min-height: 56px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[mat-button] mat-icon {
    font-size: 22px;
}