<div class="center-content" *ngIf="!course">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="course">

  <mat-toolbar>
    <b class="text-primary fill-space">{{course.courseDef.name}}</b>
    <a mat-icon-button *ngIf="canManage | async" [routerLink]="['manage']">
      <mat-icon>settings</mat-icon>
    </a>
    <button mat-icon-button (click)="toggleShowCourseDetails()">
      <mat-icon [@openCloseArrowIcon]="showCourseDetails ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
    </button>
  </mat-toolbar>
  <div class="course-details" [@openClose]="showCourseDetails ? 'open' : 'closed'">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="ml-2 mr-1">person</mat-icon>
        </div>
        <mat-card-title>
          <span [innerText]="professorText"></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span *ngIf="course.assistants.length == 1" class="center-text-icon">
          <span>Assistant:</span>
          <mat-icon class="ml-2 mr-1">record_voice_over</mat-icon>
          <span [innerText]="getUserText(course.assistants[0])"></span>
        </span>
        <mat-list class="assistants-list" *ngIf="course.assistants.length > 1">
          <h3 mat-subheader>Assistants</h3>
          <mat-list-item *ngFor="let assistant of course.assistants">
            <mat-icon mat-list-icon>record_voice_over</mat-icon>
            <h4 mat-line [innerText]="getUserText(assistant)"></h4>
          </mat-list-item>

          <h3 mat-subheader>Members</h3>
          <mat-list-item *ngFor="let member of members">
            <mat-icon mat-list-icon>record_voice_over</mat-icon>
            <h4 mat-line [innerText]="getUserText(member)"></h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let assignment of course.assignments">
      <app-assignment-card fxFlex="1 1 20%" fxFlex.lg="1 1 25%" fxFlex.md="1 1 33.3%" fxFlex.sm="1 1 50%" fxFlex.lt-sm="100%"
        [assignment]="assignment"></app-assignment-card>
    </ng-container>
  </div>

  <div class="text-center mt-4" *ngIf="course.assignments.length == 0">No assignments are yet published for this
    course.</div>

</ng-container>