.course-details {
    mat-card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    overflow-y: hidden;
}

.center-text-icon {
    align-items: center;
    display: inline-flex;
    height: 32px;
}

.assistants-list mat-list-item {
    height: 40px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[mat-button] mat-icon {
    font-size: 22px;
}
