<div class="dropzone" (dragenter)="onDragStart($event)" (dragend)="onDragEnd($event)" (dragover)="onDragOver($event)"
  (drop)="onDrop($event)" (click)="onClick($event)" [class.hovered]="hovered">

  <div id="add-files-handle" class="add-files-text">Click to add files</div>

  <div class="files">
    <div class="file-container" *ngFor="let file of files">

      <img *ngIf="isImage(file) && file.dataURL" class="thumbnail" [src]="file.dataURL" />
      <div *ngIf="!isImage(file)" class="doc-container">
        <mat-icon style="font-size: 40px; width: 40px; height: 40px;">attach_file</mat-icon>
      </div>

      <div class="file-details">
        <div [innerText]="getFileSize(file)"></div>
        <div [innerHTML]="getFileName(file)"></div>
        <button mat-icon-button color="warn" class="remove-button" (click)="removeFile(file)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>


  <input #fileInput type="file" multiple class="hidden-file-input" (change)="onFileInputChange($event)" />

  <div *ngIf="uploading">
    <div class="text-right">{{progress}} / {{total}}</div>
    <mat-progress-bar [value]="computeProgress()"></mat-progress-bar>
  </div>
</div>