<h2>Admin</h2>

<nav mat-tab-nav-bar [backgroundColor]="['primary']">
    <ng-container *ngIf="(menuState | async) == AdminMenuState.AdminMenu">
        <a mat-tab-link *ngFor="let link of adminLinks" [routerLink]="getAdminRelativeCommands(link)" routerLinkActive
            #rla="routerLinkActive" [routerLinkActiveOptions]="{ exact: link.exact }" [active]="rla.isActive" (click)="link.action()">
            {{link.label}}
        </a>
    </ng-container>
    <ng-container *ngIf="(menuState | async) == AdminMenuState.EditCourseMenu">
        <a mat-tab-link *ngFor="let link of editCourseLinks" [routerLink]="getAdminRelativeCommands(link)"
            routerLinkActive #rla="routerLinkActive" [routerLinkActiveOptions]="{ exact: link.exact }" [active]="rla.isActive"
            (click)="link.action()">
            {{link.label}}
        </a>
    </ng-container>
</nav>

<ng-content></ng-content>