<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>record_voice_over</mat-icon>
      <span class="icon-title-text">Assistants</span>
    </mat-card-title>
    <mat-card-subtitle>Add or delete assistents.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-data-table [columnDefs]="columnDefs" [data]="data" [emptyDataMessage]="'No assistants assigned to the course'"
      [modelAccessor]="modelAccessor" [canAdd]="true" [save]="save" [canDelete]="true" [delete]="delete">
    </app-data-table>
  </mat-card-content>
</mat-card>